@import "tailwindcss";

@layer base {
  :root {
    /* bg colors */
    --color-background: #f9fafb;
    --color-card: #ffffff;
    --color-profile: #d4d7db;
    --color-border: #e1e1e1;

    /* text colors */
    --color-text-primary: #000000;
    --color-text-secondary: #897d7d;

    /* buttons colors */
    --color-button-rsvp: #3579b1;
    --color-button-disabled: #e5e7eb;
  }

  .dark {
    /* bg colors */
    --color-background: #0f172a;
    --color-card: #030c20;
    --color-profile: #253550;
    --color-border: #5f5e64;
    --color-tabs : #0F172A;

    /* text colors */
    --color-text-primary: #ffffff;
    --color-text-secondary: #897d7d;

    /* buttons */
    --color-button-rsvp: #004177;
    --color-button-disabled: #1e293b;
  }

  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    transition: background-color 0.3s, color 0.3s;
    font-family: Arial, Helvetica, sans-serif;
  }
}

@layer utilities {
  .bg-background {
    background-color: var(--color-background);
  }
  .bg-background-dark {
    background-color: var(--color-background-tabs);
  }

  .bg-card {
    background-color: var(--color-card);
  }
  .bg-profile {
    background-color: var(--color-profile);
  }
  .text-primary {
    color: var(--color-text-primary);
  }
  .text-secondary {
    color: var(--color-text-secondary);
  }
  .border-card {
    border-color: var(--color-border);
  }

  .bg-button-rsvp {
    background-color: var(--color-button-rsvp);
  }

  .bg-button-disabled {
    background-color: var(--color-button-disabled);
  }
}
